<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title> {{'RECENT_PAGE.TITLE'|translate}}</ion-title>
        <ion-buttons slot="end" (click)="Filter_Onclick($event)">
            <ion-icon class='icon-filter' name="ios-funnel"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-group *ngFor="let group of RecentFiles ">
            <ion-item-divider *ngIf='group.listItem.length>0' (click)="Group_OnClick(group)">
                <ion-label>{{group.key.name}}</ion-label>
            </ion-item-divider>
            <p *ngIf="group.open==true">
                <ion-item-sliding #slidingItem *ngFor="let item of group.listItem">
                    <ion-item button class="file-item" (click)="File_OnClick(item)">
                        <img slot='start' src="../../../assets/icon/xml_icon2.svg">
                        <div class=item-info>
                            <div class="file-name text-over">
                                {{item.name}}
                            </div>
                            <div class="des-line text-over">
                                <span> {{item.date}}</span>
                                <span>{{item.size}}</span>
                            </div>
                        </div>
                    </ion-item>
                    <ion-item-options side="end">
                        <ion-item-option color='light' (click)="ShareFile_OnClick(item,$event,slidingItem)">
                            <ion-icon slot="start" class='ion-icon' name="md-share"></ion-icon>
                            Chia sẻ
                        </ion-item-option>
                        <ion-item-option color='light' (click)="DeleteFile_OnClick(item,$event,slidingItem)">
                            <ion-icon slot="start" color="danger" class='ion-icon' name="md-trash"></ion-icon>
                            Xóa
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </p>
        </ion-item-group>
    </ion-list>

</ion-content>

<!-- <ion-item lines="none" class="file-item" *ngFor="let item of group.listItem" (click)="File_OnClick(item)">
                <img slot='start' src="../../../assets/icon/xml_icon2.svg">
                <div class=item-info>
                    <div class="file-name text-over">
                        {{item.name}}
                    </div>
                    <div class="des-line text-over">
                        <span> {{item.date}}</span>
                        <span>{{item.size}}</span>
                    </div>
                </div>
            </ion-item> -->