<ion-header>
  <ion-toolbar>
    <ion-title>{{'EXPORTEXCEL_PAGE.TITLE_DIALOG' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label text-wrap>{{'EXPORTEXCEL_PAGE.DELETE_MGS' | translate}}</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label text-wrap>{{'EXPORTEXCEL_PAGE.DELETE_FILE' | translate}}</ion-label>
    <ion-checkbox slot="start" [(ngModel)]="isCompleteDelete"></ion-checkbox>
  </ion-item>
  <ion-row>
    <ion-col size="3"></ion-col>
    <ion-col size="4">
      <ion-button (click)="onNoClick()">{{'CONFIRM.NO' | translate}}</ion-button>
    </ion-col>
    <ion-col size="4" style="text-align: right;">
      <ion-button (click)="onYesClick()">{{'CONFIRM.YES' | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-content>