.mx-auto {
    margin-left: auto!important;
    margin-right: auto!important;
}

.d-block {
    display: block!important;
}

.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
    width: 170px;
}

.text-center {
    text-align: center!important;
}

h3 {
    font-size: 18px;
}